# LaTeX build artifacts (keep .tex sources and .pdf outputs).
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.dvi
*.xdv
*.ps
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.loa
*.lol
*.idx
*.ind
*.ilg
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.glg-*
*.glo-*
*.gls-*
*.nlo
*.nls
*.nlg
*.spl
*.loe
*.thm
*.maf
*.mtc*
*.fmt
*.pyg
*.pygstyle
*.pygtex
_minted*/
*.tex.bak
*.tex~
*.pdfsync
